body {
    margin: 0px!important
}
button.accordion {
    background-color: rgb(0,128,255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 45px;
    transition: 0.4s;
    text-align: left;
    margin: 0px;

}
button.accordion.active, button.accordion:hover {
    background-color: rgb(1,32 ,135 );
}
button.accordion:after {
    font-size: 13px;
    color: rgb(232, 203, 47);
}
div.panel {
    background-color: rgb(31, 57, 142);
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
    opacity: 0;
    font-family: arial; 
}
#titler{
    float: left;
    font-weight: lighter;
}
.a1m{
    color: white;
    text-decoration: none;
}
.a2m{
    color: white;
}
.tagline{
    font-size: 18px;
}
nav{
    text-align: center;
    font-size: 20px;
}
p{
    font-size: 15px;
}
.images {
    width: 90%;
    max-width: 400px;
}
footer{
    background-color: #383838;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    margin: auto;
    width: auto!important;
}
.content{
    color: rgb(1,32 ,135 );
    background-color: white;
    height: auto;
    min-height: 510px;
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12px;
    font-family: Arial;
}
div.panel.show {
    opacity: 1;
    max-height: 500px; 
}
.container {
    display: inline-block;
    cursor: pointer;
    float: right;
    font-size: 14px;
    padding-top: 13px;
    padding-right: 10px;
}
.bar4{
    height: 2px;
    width: 54px;
    background-color: #333;
    float: left;
    margin-top: 10px;
    margin-right: 4px;
}
.bar5{
    height: 2px;
    width: 54px;
    background-color: #333;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 1s;
}
.menu1{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.menu1:hover{
    background-color: black;
    color: white;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}