/* Style Sheet has been linked successfully by Thomas */
body {
	margin: 0px;
}

.logo {
	float: right;
	font-size: 40px;
	background-color: blue;
	color: white;
}

/* If class linking not working resolve by retyping the class because formating seems to be the cause -Thomas */
.quizBox {
	float: right;
	font-size: 50px;
	padding-left: 12%;
	padding-right: 12%;
	width: 76%;
}

/* IDs for the quiz page need to be rewritten as the formatting isnt correct */
.rightBox{
	float: left;
}
#option1{
	float: left;
}
#option2{
	float: left;
}
#option3{
	float: left;
}
#option4{
	float: left;
}

/* Not working atm -Thomas will resolve */
.carousel {
	font-size: 30px;
	text-decoration: none;
	float: right;
}


.next{
	float: right;
}